docs/2_1_0/bill-version-samples-september-2024/uslm-meta-senate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="https://www.senate.gov/schemas"
    xmlns:msenate="https://www.senate.gov/schemas"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">   
    <xsd:annotation>
        <xsd:documentation>
            This is the Senate specific meta data definitions within USLM.             
            Version: 2023-06-14.
        </xsd:documentation>
        <xsd:appinfo source="xhtml-copyright-1.xsd"/>
    </xsd:annotation>
    
    <!-- Element: meta-senate -->
    <xsd:element name="metaSenate">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="msenate:for" minOccurs="0"/>
                <xsd:element ref="msenate:subject" minOccurs="0"/>
                <xsd:element ref="msenate:type" minOccurs="0"/>
                <xsd:element ref="msenate:description" minOccurs="0"/>
                <xsd:element ref="msenate:received" minOccurs="0"/>
                <xsd:element ref="msenate:delivered" minOccurs="0"/>
                <xsd:element ref="msenate:staff" minOccurs="0"/>
                <xsd:element ref="msenate:peer-reviewed-by" minOccurs="0"/>
                <xsd:element ref="msenate:previous" minOccurs="0"/>
                <xsd:element ref="msenate:next" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Element: for -->
    <xsd:element name="for">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="msenate:for-office" minOccurs="0"/>
                <xsd:element ref="msenate:for-sponsor" minOccurs="0"/>
                <xsd:element ref="msenate:for-staffer" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Elements: for-office, for-sponsor, for-staffer -->
    <xsd:element name="for-office" type="xsd:string"/>
    <xsd:element name="for-sponsor" type="xsd:string"/>
    <xsd:element name="for-staffer" type="xsd:string"/>
    
    <!-- Element: subject -->
    <xsd:element name="subject">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="msenate:subject-field1" minOccurs="0"/>
                <xsd:element ref="msenate:subject-field2" minOccurs="0"/>
                <xsd:element ref="msenate:subject-field3" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Elements: subject-field1, subject-field2, subject-field3 -->
    <xsd:element name="subject-field1" type="xsd:string"/>
    <xsd:element name="subject-field2" type="xsd:string"/>
    <xsd:element name="subject-field3" type="xsd:string"/>
    
    <!-- Element: type -->
    <xsd:element name="type" type="xsd:string"/>
    
    <!-- Element: description -->
    <xsd:element name="description" type="xsd:string"/>
    
    <!-- Element: received -->
    <xsd:element name="received" type="xsd:string"/>
    
    <!-- Element: delivered -->
    <xsd:element name="delivered" type="xsd:string"/>
    
    <!-- Element: staff -->
    <xsd:element name="staff" type="xsd:string"/>
    
    <!-- Element: peer-reviewed-by -->
    <xsd:element name="peer-reviewed-by" type="xsd:string"/>
    
    <!-- Element: previous -->
    <xsd:element name="previous" type="xsd:string"/>
    
    <!-- Element: next -->
    <xsd:element name="next" type="xsd:string"/>
    
</xsd:schema>
